@import 'theme';

.card {
  @extend %card;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: $layoutSpacer;
  padding-top: $layoutSpacer;
}

.summary {
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.count {
  display: block;
  font-size: 2rem;
  margin-bottom: $itemSpacer;
}

.type {
  color: $denim;
  font-size: 0.75rem;
}

.arrowHorizontalIcon {
  color: $slateGray;
  margin-left: $layoutSpacer;
}

.arrowUpIcon {
  color: $springGreen;
  margin-left: $layoutSpacer;
}

.arrowDownIcon {
  color: $pomegranate;
  margin-left: $layoutSpacer;
}
