@import "variables";

%alignMiddle {
  white-space: nowrap;

  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

%card {
  background: $white;
  border-radius: 9px;
  box-shadow: $tileShadow;
  padding: 1rem;
}

%listLogo {
  height: $listLogoHeight;
  width: $listLogoWidth;

  > img {
    min-height: 100%;
    max-width: 100%;
  }
}

%gradientFillHorizontal {
  fill: url(#linearGradientHorizontal) currentColor;
}

%gradientBorderHorizontal {
  $border: 2px;

  background-clip: padding-box;
  border: solid $border transparent;
  overflow: visible;
  position: relative;

  &:before {
    background: $linearGradient;
    border-radius: inherit;
    bottom: 0;
    content: '';
    left: 0;
    margin: -$border;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}
