$htmlDesktopFontSize: 16px;
$htmlMobileFontSize: 14px;

$itemSpacer: 0.5rem;
$itemNewSpacer: 0.4rem;
$layoutSpacer: 2rem;
$topbarDesktopSize: 4rem;

$desktopSidebarWidth: 13rem;
$mobileSidebarWidth: 100%;

$listLogoHeight: 3rem;
$listLogoWidth: 5rem;

// Colors
$aquaHaze: #f6f8fa;
$botticelli: #dde6ee;
$denim: #1363d7;
$dodgerBlue: #2196f3;
$flamingo: #f56f2e;
$haiti: #0b0b2a;
$pomegranate: #f44336;
$riverBed: #4d5b6a;
$scienceBlue: #0057d4;
$slateGray: #728293;
$springGreen: #27f485;
$white: #ffffff;
$mimosa: #eebe50;
$sanMarino: #3f51b5;

$bodyPrimaryColor: $haiti;
$bodySecondaryColor: $slateGray;
$bodyAlertColor: $flamingo;
$borderColor: $botticelli;

$tileShadow: 0 0 2px 0 rgba(0, 0, 0, 0.08), 0 1px 4px 0 rgba(0, 0, 0, 0.16);
$linearGradient: linear-gradient(to right, $scienceBlue, $springGreen);
$lineGradientButton: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  ),
  linear-gradient(135deg, $scienceBlue, $springGreen);
