@import 'theme';

.card {
  border-radius: 9px;
  box-shadow: $tileShadow;
}

.header {
  padding: 1rem;
}

.logo {
  @extend %listLogo;

  //border-right: 1px solid $botticelli;
  display: block;
  overflow: hidden;
}

.title {
  color: $bodyPrimaryColor;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
  text-transform: capitalize;
}

.subheader {
  color: $bodySecondaryColor;
  font-size: 0.875rem;
  line-height: 1.5;
}

.actions {
  border-top: 1px solid $borderColor;
  justify-content: space-between;
  margin: 0 1rem;
  padding: 1rem 0;
}

.alert {
  align-items: center;
  color: $bodyPrimaryColor;
  display: flex;
  font-size: 0.75rem;
}

.icon {
  color: $bodyAlertColor;
  font-size: 1.25rem;
  margin-right: 0.5rem;
}
