@import 'theme';

.wrapper {
  display: flex;
  flex-flow: column-reverse;
  margin: auto 0 auto auto;
}

label,
input {
  transition: all 0.2s;
  touch-action: manipulation;
}

input {
  font-size: 1rem;
  border: 0;
  border-bottom: 1px solid $botticelli;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0.5rem;
  cursor: text;
}

input:focus {
  outline: 0;
  border-bottom: 1px solid $slateGray;
}

label {
  font-size: 0.65rem;
  letter-spacing: 0.05em;
  padding: 0.25rem;
  color: $slateGray;
}

input:placeholder-shown+label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

input:focus::-webkit-input-placeholder {
  opacity: 1;
}

input:not(:placeholder-shown)+label,
input:focus+label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
  color: $sanMarino;
}
