@import 'theme';

.content {
  max-width: 20rem;
  padding-bottom: $layoutSpacer;
  padding-top: $layoutSpacer;
  overflow: hidden;
}

.input {
  margin-bottom: $layoutSpacer;
}

.register {
  float: right;
  margin-top: $layoutSpacer / 2;
}

.logo {
  display: block;
  height: 8rem;
  margin: auto;
  padding-left:2rem;
}

.flex{
  display: flex;
  flex-direction: column;
}

.center{
  display: block;
  margin: auto;
}
