@import "theme";

.filters {
  color: $riverBed;
  margin-bottom: 0.5rem;
}

.row {
  font-size: 0.75rem;
  color: $slateGray;

  .head {
    color: $slateGray;
    border-bottom: 1px solid $botticelli;
  }

  td:nth-child(3) {
    display: none;
  }
}

.cell {
  border: none;
  color: inherit;
  font-size: inherit;
  padding: 0.5rem 1rem;

  &.head {
    text-align: center;
  }
}

.data {
  font-size: 0.875rem;
  line-height: 1;
  padding: 0.25rem;

  &:focus{
    outline: 0;
  }
}

.dataContainer{
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid $slateGray;

  &:hover{
    cursor: pointer;
  }
}


.file {
  border: 1px solid $botticelli;
  border-radius: 3px;
  color: $slateGray;
  display: inline-block;
  font-size: 0.625rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

.gradientBtn {
  text-transform: capitalize;
  border: solid 1px transparent;
  background-image: $lineGradientButton;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  display: block;
  margin: auto;
  width:6rem;
}

.checkbox {
  display: block;
  margin: auto;
  width: 2rem;
}

.title {
  text-align: left;
  color: $slateGray;
  border-bottom: 1px solid $botticelli;
}

.button {
  display: block;
  margin: 2rem 0 auto auto;
}

@media only screen and (max-width: 1024px + 1px) {
  .row {
    display: flex;
    flex-direction: row;
  }

  .filters {
    display: none;
  }

  .cell {
    &.head {
      display: none;
    }
    &.head:nth-child(1) {
      display: block;
      font-size: 1.5rem;
      color: $haiti;
      width: 100%;
      text-align: left;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: space-between;

    td:nth-child(2) {
      flex-basis: 100%;
      font-size: 1.25rem;
      color: $haiti;
      font-weight: bold;
    }

    td:nth-child(6) {
      flex-basis: 30%;
      display: block;
      margin: auto;
    }

    td:nth-child(7) {
      flex-basis: 30%;
      display: block;
      margin: auto;
    }

    td:nth-child(4) {
      flex-basis: 30%;
      display: block;
      margin: auto;
    }

    td:nth-child(1),
    td:nth-child(3),
    // td:nth-child(6),
    // td:nth-child(7),
    td:nth-child(5) {
      display: none;
    }
  }
}

.info{
  text-align: justify;
}

.inputSwitchContainer{
  display: flex;
  flex-direction: row;

  p{
    margin: auto auto auto 0;
  }

}

.removePermissionButton{
  display: block;
  margin: auto 1rem 1rem auto;
  border: 0;
  background: $linearGradient;
  font-weight: bold;
  color: white;
}