.formControl {
    margin: auto;
    display: flex;
    width: 40rem;
    flex-direction: row;
    justify-content: space-between;

    p{
      display: block;
      margin: auto 0 0.5rem auto;
      width: 22rem;
    }

    inputField{
      display: block;
      margin: auto;
    }
  }

.selectEmpt {
    margin-top: 1rem 
}

.containerSelectOption{
  margin: auto;
  display: flex;
  width: 40rem;
  flex-direction: row;
  justify-content: space-between;

  p{
    display: block;
    margin: auto auto 0 auto;
    
  }
}

.selectOptions{
  width: 30rem;
  display: block;
  margin: auto;
}

.customLoader {
  margin: 21.625rem;
}
