@import 'theme';

.wrapper {
  align-items: center;
  background: $white;
  display: flex;
  justify-content: space-between;
  height: $topbarDesktopSize;
  padding: 0 $layoutSpacer;
  width: 100%;
}

.logo {
  height: 100%;
}

.goBack {
  left: 15%;
  position: absolute;
  color: $slateGray;
}

.arrowIcon {
  margin-bottom: -5px;
}
