@import 'theme';

.card {
  @extend %card;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: $layoutSpacer;
  padding-top: $layoutSpacer;
  margin: 1rem auto;

  p{
    display: block;
    margin: 1rem auto;
    font-size: 0.875rem;;
  }
}

.summary {
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.count {
  display: block;
  font-size: 2rem;
  margin-bottom: $itemSpacer;
}

.type {
  color: $denim;
  font-size: 0.75rem;
}

.arrowHorizontalIcon {
  color: $slateGray;
  margin-left: $layoutSpacer;
}

.arrowUpIcon {
  color: $springGreen;
  margin-left: $layoutSpacer;
}

.arrowDownIcon {
  color: $pomegranate;
  margin-left: $layoutSpacer;
}

.header {
  display: flex;
  flex-direction: row;

  p{
    margin: auto 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: $pomegranate;
  }
}
