@import 'theme';

.btn{
  text-transform: capitalize;
  display: compact;
  margin-left: $itemSpacer;
  padding-right: $itemSpacer;
  padding-left: $itemNewSpacer;
  border-radius: 7px;

  border: 2px solid $springGreen;
}
