@import "theme";

.title {
  padding: 2rem;
}

.tocWrapper {
  width: 32vw;
  height: 70vh;
  margin-top: 2rem;
  overflow: auto;

  /* Scrollbar styles */
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.25rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $botticelli;
    border-radius: 1rem;
  }
}

.tocItems {
  display: flex;
  flex-direction: row;

  svg {
    display: block;
    margin: auto 0 auto auto;
    font-size: 3rem;
    color: $botticelli;
  }

  &:hover {
    cursor: pointer;
    svg {
      color: $denim;
    }
  }
}

.chapter {
  display: block;
  padding: 0 0 0 0.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: $denim;
  text-align: left;
  font-weight: bold;
}

.art {
  font-size: 0.75rem;
  padding: 0.5rem 0 0 0.5rem;
  letter-spacing: 0.1rem;
  color: $slateGray;
}

.subject {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 0 0 0.5rem;
  color: $haiti;
  letter-spacing: 0.05rem;
  text-align: left;
}

@media only screen and (max-width: 1024px + 1px) {
  .tocWrapper {
    height: auto;
    width: 100%;
    padding-bottom: 3rem;

    div {
      display: flex;
      flex-direction: row;
      width: 8rem;
      height: 10rem;

      div {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .tocItems {
    display: flex;

    svg {
      margin: auto 0;
    }

    p {
      margin-right: 2rem;
    }
  }
}
