@import "theme";

.formControl {
    margin: auto;
    display: flex;
    width: 30rem;
    flex-direction: row;
    justify-content: space-between;

    p{
      display: block;
      margin: auto auto 0 auto;
    }

    inputField{
      display: block;
      margin: auto;
    }
  }

.selectEmpt {
    margin-top: 1rem 
}

.containerSelectOption{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p{
    display: block;
    margin: auto auto 0 auto;
  }
}

.selectOptions{
  width: 20rem;
  display: block;
  margin: auto;
}

.gradientBtn {
  text-transform: capitalize;
  border: solid 1px transparent;
  background-image: $lineGradientButton;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  display: block;
  margin: auto;
  width:6rem;
}
