@import "theme";

.link {
  color: inherit;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.desc {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  line-height: 1.5;
  justify-content: center;
  margin: 0 0.5rem;
}

.field {
  color: $slateGray;
  font-size: 0.75rem;
  text-align: center;
  white-space: nowrap;
}

.count {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.cta {
  font-size: 0.75rem;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.actions {
  width: 100%;
}

.btn {
  background: $lineGradientButton;
  text-transform: capitalize;
  color: white;
  display: compact;
  margin-left: $itemSpacer;
  padding-right: $itemSpacer;
  border-radius: 5px;
}
