@import 'theme';

$layoutAnimationEase: ease-in-out;
$layoutAnimationDuration: 400ms;

.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.topbar {
  left: 0;
  position: fixed;
  top: 0;
  z-index: 100;
}

.sidebar {
  bottom: 0;
  left: 0;
  margin-top: $topbarDesktopSize;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: transform $layoutAnimationEase $layoutAnimationDuration;
  width: $mobileSidebarWidth;

  &.desktop {
    margin-top: 0;
    transform: translateX(0);
    top: $topbarDesktopSize;
    width: $desktopSidebarWidth;
  }

  &.open {
    transform: translateX(0);
  }
}

.pageContent {
  min-height: 100vh;
  padding-top: $topbarDesktopSize;
  transition: transform $layoutAnimationEase $layoutAnimationDuration;
  width: 100%;

  &.desktop {
    transform: translateX($desktopSidebarWidth);
    width: calc(100vw - #{$desktopSidebarWidth});
  }

  &.hidden {
    transform: translateX(100%);
  }
}
