@import "theme";

.listItem {
  border-top: 1px solid $botticelli;
  width: 30vw;
  padding: 1rem;
}

@media only screen and (max-width: 1024px + 1px) {
  .listItem {
    display: flex;
    border-top: none;
    border-right: 1px solid $botticelli;
  }
}
