@import "theme";

.parent {
  display: block;
  width: 30vw;
  height: 70vh;
  background: $white;
  padding: 1.5rem;
  border: solid 0.1px $botticelli;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08), 0 1px 4px 0 rgba(0, 0, 0, 0.16);
}

.parentRegister {
  display: block;
  width: 30rem;
  height: 25rem;
  background: $white;
  padding: 1.5rem 1rem;
  border: solid 0.1px $botticelli;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08), 0 1px 4px 0 rgba(0, 0, 0, 0.16);
}

.content {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  background: $white;
  padding: 1rem;
  border-radius: 10px;
  text-align: justify;

  //Scrollbar styles
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.25rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $botticelli;
    border-radius: 1rem;
  }

  //Content styles
  h2 {
    padding: 1rem 0;
  }

  h4 {
    padding: 1rem 0;
  }

  h6 {
    display: block;
    padding: 1rem 0;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    color: $denim;
    text-align: left;
    font-weight: bold;
  }

  p {
    font-size: 0.875rem;
    padding: 1rem 0;
    color: $slateGray;
  }

  ol {
    font-size: 0.875rem;
    padding: 1rem;
    color: $slateGray;
  }

  li {
    font-size: 0.875rem;
    color: $slateGray;
  }

  hr {
    border-top: 0.0625rem solid $botticelli;
  }
}

@media only screen and (max-width: 1024px + 1px) {
  .parent {
    margin: auto 0;
    width: auto;
  }
}
