@import 'theme';

.card {
  @extend %card;

  padding: $layoutSpacer;
}

.header {
  align-items: center;
  display: flex;
  border-bottom: 1px solid $botticelli;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.subject {
  display: inline-block;
  font-size: 1.25rem;
  text-transform: capitalize;
  margin: 1rem 0;
}

.date {
  color: $slateGray;
  font-size: 0.875rem;
}

.from{
  font-size: 0.875rem;
  color: $slateGray;
}