@import "theme";

$itemsSpacing: 1.5rem;

.report {
  align-items: center;
  border-bottom: 1px solid $botticelli;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
  flex-wrap: wrap;
}

.columnnn {
  display: flex;
  flex-flow: column wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.item {
  flex-grow: 3;
}
.space {
  justify-content: space-around;
}

.swapIcon {
  color: $slateGray;
  font-size: 2rem;
  margin: 0 $itemsSpacing;
}

.moreIcon {
  color: $botticelli;
  font-size: 2rem;
}

.desc {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  line-height: 1.5;
  justify-content: space-between;
  margin: 0 $itemsSpacing;
}

.name {
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: capitalize;
}

.date {
  color: $slateGray;
  font-size: 0.875rem;
}

.bntNew {
  color: $white;
  background: $springGreen;
  padding: 0.25rem;
  border-radius: 5px;
  font-weight: bold;
}
