@import "theme";

.page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.content {
  flex-grow: 1;
}

.button {
  display: none;
  margin: 2rem 0 auto auto;
}

@media only screen and (max-width: 768 + 1px) {
  .button {
    display: block;
  }
}
