@import 'theme';

.wrapper {
  .error {
    background-color: $pomegranate;
  }

  .info {
    background-color: $dodgerBlue;
  }
}

.message {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 1rem;
  opacity: 0.9;
}
