@import "theme";

$avatarSize: 2.25rem;
$textColor: $slateGray;

.wrapper {
  align-items: center;
  color: $slateGray;
  display: flex;
  font-size: 0.875rem;

  &:hover {
    cursor: pointer;
  }

  .avatar {
    background-color: $scienceBlue;
    font-size: 1rem;
    height: 2.25rem;
    width: 2.25rem;
  }

  .icon {
    font-size: 1.25rem;
  }

  svg {
    @extend %gradientFillHorizontal;
  }
}

.name {
  margin: $itemSpacer;
}
