@import 'theme';

.button{
  display: block;
  margin: 2rem 1rem 1rem auto;
  width: 12rem;
}

.piiSelectorContainer{
  display: flex;
  flex-direction: column;
}

.piiSelectorLine{
  display: flex;
  flex-direction: row;
  margin: 1rem 0;

  p{
    display: block;
    margin: auto;
  }
}