@import 'theme';

.wrapper {
  background-color: $white;
  height: 100%;
  // TODO: This should be the topbar border
  margin-top: 1px; // stylelint-disable-line
}

.navItem {
  align-items: center;
  border-bottom: 1px solid $botticelli;
  color: $slateGray;
  display: flex;
  font-size: 0.875rem;
  padding: 1.5rem;
  position: relative;
  text-decoration: none;

  &:hover {
    color: $bodyPrimaryColor;
  }

  &.active {
    color: $bodyPrimaryColor;

    &:before {
      background: $linearGradient;
      bottom: 0;
      content: '';
      height: 1px; // stylelint-disable-line
      left: 0;
      margin-bottom: -1px; // stylelint-disable-line
      position: absolute;
      right: 0;
    }

    .navIcon {
      @extend %gradientFillHorizontal;
    }
  }
}

.navIcon {

  font-size: 1.5rem;
  margin-right: 1rem;
}
