@import 'theme';

.newWarning{
  margin-left: 1rem;
  text-align: center;
  color: $white;
  background: $pomegranate;
  padding: 0.25rem;
  border-radius: 5px;
  font-weight: bold;
}

.newImportant{
  margin-left: 1rem;
  text-align: center;
  color: $white;
  background: $mimosa;
  padding: 0.25rem;
  border-radius: 5px;
  font-weight: bold;
}
