@import 'theme';

.filters {
  align-items: center;
  color: $slateGray;
  display: flex;
  flex-direction: row;
  height: 1.75rem;
}

.filter {
  display: inline-block;
  font-size: 0.875rem;
  text-transform: capitalize;
  padding: 0 1rem;

  &:hover {
    color: $haiti;
    cursor: pointer;
  }

  &.active {
    color: $haiti;
    font-weight: bold;
    cursor: default;
  }

  .icon {
    color: inherit;
    font-size: 1.125rem;
    margin-left: 0.25rem;
    vertical-align: bottom;
  }
}

.display {
  flex-grow: 1;
  padding: 0 1rem;
  text-align: right;

  .icon {
    color: $slateGray;
    font-size: 1.75rem;
    vertical-align: bottom;

    &:hover {
      color: $haiti;
      cursor: pointer;
    }

    &.active {
      color: $haiti;
      cursor: none;
    }

    + .icon {
      margin-left: 0.5rem;
    }
  }
}
