@import 'theme';

.checkboxWrapper {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  align-content: space-between;

  div{
    display: flex;
    flex-direction: row;
    margin: auto 0 auto auto;
    
    p{
    margin: auto 0px auto auto;
    color: $slateGray;
    font-weight: bold;
    font-size: 0.875rem;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }

  }
}