@import "theme";

h1 {
  padding: 1rem;
}

.page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 1024px + 1px) {
  .page {
    display: flex;
    flex-direction: column;
  }
}
