@import 'theme';

html {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: $htmlMobileFontSize;

  @include onDesktop() {
    font-size: $htmlDesktopFontSize;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  background-color: $aquaHaze;
  color: $bodyPrimaryColor;
}

p {
  color: $slateGray;
}

:global {
  // Application wrapper
  #root {
    height: 100%;
    position: relative;
    width: 100%;
  }
}
