@import "theme";

.action {
  &:hover {
    cursor: pointer;
  }
}

.active {
  @extend %gradientBorderHorizontal;
}

.activeWarning {
  border: 2px solid $pomegranate;
}

.activeImportant {
  border: 2px solid $mimosa;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.date {
  margin: 0 1rem 0 0 ;
  color: $slateGray;
  font-size: 0.75rem;
}

.message {
  color: $slateGray;
  font-weight: normal;
}

.btn {
  background: $lineGradientButton;
  text-transform: capitalize;
  color: white;
  display: compact;
  margin-left: $itemSpacer;
  padding-right: $itemSpacer;
  border-radius: 5px;
}

.deleteIcon {
  display: flex;
  margin: 1rem 0 0 0;
  flex-direction: row;
}

.containerSelect{
  display: flex;
  margin: auto;

  p{
    display: block;
    margin: auto 1rem auto auto;
  }
}

.warningTag{
  margin: auto auto 1rem 1rem;
  color: $pomegranate;
}

.importantTag{
  margin: auto auto 1rem 1rem;
  color: $mimosa;
}