@import 'theme';

.content {
  max-width: 20rem;
  padding-bottom: $layoutSpacer;
  padding-top: $layoutSpacer;
  overflow: hidden;
}

.input {
  margin-bottom: $layoutSpacer;
  background: $white;
}

.textarea{
  margin-bottom: $layoutSpacer;
  background: $white;
  resize: none;
  display: block;
  color: $slateGray;
  width: 20rem;
  padding: 1rem;
  font-family:"Helvetica Neue", Arial, sans-serif;
}

.register {
  float: right;
  margin-top: $layoutSpacer / 2;
}

.logo {
  display: block;
  height: 8rem;
  margin: auto;
  padding-left:2rem;
}

.flex{
  display: flex;
  flex-direction: column;
}

.center{
  display: block;
  margin: 0rem 2rem;
}

.frontendError {
  background-color: $pomegranate;
}

.btn{
  background: $linearGradient;
  text-transform: capitalize;
  color: white;
}

.subtitle{
  font-size: .875rem;
}

.error{
  color: $pomegranate;
  font-weight: bold;
}
