@import 'theme';

.item {
  border-bottom: 1px solid $botticelli;
  padding: #{$layoutSpacer / 2} $layoutSpacer;
}

.link {
  align-items: center;
  color: $slateGray;
  display: contents;
  font-size: 0.875rem;
  position: relative;
  text-decoration: none;
}

.icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}
