@import "theme";

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.section {
  flex-grow: 1;
  padding: 1rem;

  &.main {
    flex-grow: 2;
  }

  &.full {
    width: 100%;
  }
}

.sectionName {
  color: $riverBed;
  display: block;
  font-size: 0.875rem;
  margin: 0 1rem 0.5rem;
}

.title {
  padding: 0 1rem;
  text-transform: capitalize;
  width: 100%;
}

.activity {
  padding: 0;

  + .activity {
    border-top: 1px solid $borderColor;
    margin-top: 1rem;
    padding-top: 1rem;
  }
}

.cardAlert {
  margin-top: 0rem;
  padding-top: 25px;
  padding-bottom: 30px;
}

.updateButton {
  background: $lineGradientButton;
  text-transform: capitalize;
  color: white;
  display: compact;
  margin-left: $htmlDesktopFontSize;
  padding-right: $itemSpacer;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.dataProcessorInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
