@import 'theme';

.content {
  max-width: 30rem;
  padding-bottom: $layoutSpacer;
  padding-top: $layoutSpacer;
  overflow: hidden;
}

.input {
  margin-bottom: $layoutSpacer;
}

.register {
  float: right;
  margin-top: $layoutSpacer / 2;
}

.logo {
  display: block;
  height: 8rem;
  margin: auto;
}

.changePassword {
  float: left;
  margin-top: $layoutSpacer / 2;
}

.textarea{
  margin-bottom: $layoutSpacer;
  background: $white;
  resize: none;
  box-sizing: border-box;
  display: block;
  color: $slateGray;
  width: 30rem;
  max-height: 7.75rem;
  padding: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif
}

.firstLogin{
  display: flex;
  flex-direction: row;
  margin: 1rem auto;

  p{
    margin: auto;
  }
}

.submitButton{
  display: flex;
  width: 10rem;
  margin: auto 0px auto auto;
}
